In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data-analisis-sentimen-terhadap-fenomena-vibecoding.csv")
df

,Date,Username,Comment,Like
0,2025-11-24T01:13:15Z,@hendratmobudihardjo4405,"Gak papa pak, biar saingan kita sebagai progra...",0
1,2025-11-23T10:30:24Z,@TigaherangChannel,"Dari sekian banyak AI, sejauh ini gw baru pake...",0
2,2025-11-23T02:05:51Z,@noertri618,Gara-gara AI harga komponen-komponen pc naik g...,0
3,2025-11-21T15:27:06Z,@kuliahkentang2146,"Kalo pas skripsi belom bisa coding, mau beli p...",0
4,2025-11-18T09:04:50Z,@nengmoemoen,"Saya punya pengalaman, d kantor sayaadassorang...",0
...,...,...,...,...
402,2025-10-13T11:32:02Z,@muhammad.azqilana,Ini yg aku tunggu terimakasih pak pengajaran d...,1
403,2025-10-13T11:31:38Z,@parthawijaya482,"Ijin menambahkan Pak Sandhika, vibe coder itu ...",0
404,2025-10-13T12:56:40Z,@sandhikagalihWPU,"nice share. yang jago makin jago, yang ngecit ...",0
405,2025-10-13T11:30:57Z,@rofiaziztaufikrahmat,First,0
406,2025-10-13T11:30:48Z,@apre-t5p,pertama pakkk,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407 entries, 0 to 406
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      407 non-null    object
 1   Username  406 non-null    object
 2   Comment   407 non-null    object
 3   Like      407 non-null    int64
dtypes: int64(1), object(3)
memory usage: 12.8+ KB

In [4]:
df.columns

Index(['Date', 'Username', 'Comment', 'Like'], dtype='object')

In [5]:
df.describe()

             Like
count  407.000000
mean     1.894349
std     12.416069
min      0.000000
25%      0.000000
50%      0.000000
75%      0.000000
max    191.000000

In [12]:
print(f"""jumlah kolom : {len(df.columns)} yaitu --> {df.columns}
""")

jumlah kolom : 4 yaitu --> Index(['Date', 'Username', 'Comment', 'Like'], dtype='object')

In [20]:
print(f"""jumlah missing value : 
{df.isnull().sum()}""")

jumlah missing value :
Date        0
Username    1
Comment     0
Like        0
dtype: int64

In [21]:
df["Username"] = df["Username"].fillna("unknown")

In [22]:
df.isnull().sum()

Date        0
Username    0
Comment     0
Like        0
dtype: int64

In [24]:
df.duplicated().sum()

np.int64(0)

In [ ]:
df