## Data Preparation

### Load data

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data-analisis-sentimen-terhadap-fenomena-vibecoding.csv")
df

,Date,Username,Comment,Like
0,2025-11-24T01:13:15Z,@hendratmobudihardjo4405,"Gak papa pak, biar saingan kita sebagai progra...",0
1,2025-11-23T10:30:24Z,@TigaherangChannel,"Dari sekian banyak AI, sejauh ini gw baru pake...",0
2,2025-11-23T02:05:51Z,@noertri618,Gara-gara AI harga komponen-komponen pc naik g...,0
3,2025-11-21T15:27:06Z,@kuliahkentang2146,"Kalo pas skripsi belom bisa coding, mau beli p...",0
4,2025-11-18T09:04:50Z,@nengmoemoen,"Saya punya pengalaman, d kantor sayaadassorang...",0
...,...,...,...,...
402,2025-10-13T11:32:02Z,@muhammad.azqilana,Ini yg aku tunggu terimakasih pak pengajaran d...,1
403,2025-10-13T11:31:38Z,@parthawijaya482,"Ijin menambahkan Pak Sandhika, vibe coder itu ...",0
404,2025-10-13T12:56:40Z,@sandhikagalihWPU,"nice share. yang jago makin jago, yang ngecit ...",0
405,2025-10-13T11:30:57Z,@rofiaziztaufikrahmat,First,0
406,2025-10-13T11:30:48Z,@apre-t5p,pertama pakkk,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407 entries, 0 to 406
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      407 non-null    object
 1   Username  406 non-null    object
 2   Comment   407 non-null    object
 3   Like      407 non-null    int64
dtypes: int64(1), object(3)
memory usage: 12.8+ KB

In [4]:
df.columns

Index(['Date', 'Username', 'Comment', 'Like'], dtype='object')

In [5]:
df.describe()

             Like
count  407.000000
mean     1.894349
std     12.416069
min      0.000000
25%      0.000000
50%      0.000000
75%      0.000000
max    191.000000

In [6]:
print(f"""jumlah kolom : {len(df.columns)} yaitu --> {df.columns}
""")

jumlah kolom : 4 yaitu --> Index(['Date', 'Username', 'Comment', 'Like'], dtype='object')

### Data cleaning (mising value, drop duplicate, drop column(date))

### Mising value

In [7]:
print(f"""jumlah missing value : 
{df.isnull().sum()}""")

jumlah missing value :
Date        0
Username    1
Comment     0
Like        0
dtype: int64

In [8]:
df["Username"] = df["Username"].fillna("unknown")

In [9]:
df.isnull().sum()

Date        0
Username    0
Comment     0
Like        0
dtype: int64

### drop duplicate

In [10]:
df.duplicated().sum()

np.int64(0)

In [11]:
df

,Date,Username,Comment,Like
0,2025-11-24T01:13:15Z,@hendratmobudihardjo4405,"Gak papa pak, biar saingan kita sebagai progra...",0
1,2025-11-23T10:30:24Z,@TigaherangChannel,"Dari sekian banyak AI, sejauh ini gw baru pake...",0
2,2025-11-23T02:05:51Z,@noertri618,Gara-gara AI harga komponen-komponen pc naik g...,0
3,2025-11-21T15:27:06Z,@kuliahkentang2146,"Kalo pas skripsi belom bisa coding, mau beli p...",0
4,2025-11-18T09:04:50Z,@nengmoemoen,"Saya punya pengalaman, d kantor sayaadassorang...",0
...,...,...,...,...
402,2025-10-13T11:32:02Z,@muhammad.azqilana,Ini yg aku tunggu terimakasih pak pengajaran d...,1
403,2025-10-13T11:31:38Z,@parthawijaya482,"Ijin menambahkan Pak Sandhika, vibe coder itu ...",0
404,2025-10-13T12:56:40Z,@sandhikagalihWPU,"nice share. yang jago makin jago, yang ngecit ...",0
405,2025-10-13T11:30:57Z,@rofiaziztaufikrahmat,First,0
406,2025-10-13T11:30:48Z,@apre-t5p,pertama pakkk,0

### drop columns --> date

In [12]:
df = df.drop(columns= ["Date"])

In [13]:
df

,Username,Comment,Like
0,@hendratmobudihardjo4405,"Gak papa pak, biar saingan kita sebagai progra...",0
1,@TigaherangChannel,"Dari sekian banyak AI, sejauh ini gw baru pake...",0
2,@noertri618,Gara-gara AI harga komponen-komponen pc naik g...,0
3,@kuliahkentang2146,"Kalo pas skripsi belom bisa coding, mau beli p...",0
4,@nengmoemoen,"Saya punya pengalaman, d kantor sayaadassorang...",0
...,...,...,...
402,@muhammad.azqilana,Ini yg aku tunggu terimakasih pak pengajaran d...,1
403,@parthawijaya482,"Ijin menambahkan Pak Sandhika, vibe coder itu ...",0
404,@sandhikagalihWPU,"nice share. yang jago makin jago, yang ngecit ...",0
405,@rofiaziztaufikrahmat,First,0
406,@apre-t5p,pertama pakkk,0

## text Preprocessing

### Case Folding

In [14]:
df["Comment"] = df["Comment"].str.lower()
df["Username"] = df["Username"].str.lower()

In [15]:
df

,Username,Comment,Like
0,@hendratmobudihardjo4405,"gak papa pak, biar saingan kita sebagai progra...",0
1,@tigaherangchannel,"dari sekian banyak ai, sejauh ini gw baru pake...",0
2,@noertri618,gara-gara ai harga komponen-komponen pc naik g...,0
3,@kuliahkentang2146,"kalo pas skripsi belom bisa coding, mau beli p...",0
4,@nengmoemoen,"saya punya pengalaman, d kantor sayaadassorang...",0
...,...,...,...
402,@muhammad.azqilana,ini yg aku tunggu terimakasih pak pengajaran d...,1
403,@parthawijaya482,"ijin menambahkan pak sandhika, vibe coder itu ...",0
404,@sandhikagalihwpu,"nice share. yang jago makin jago, yang ngecit ...",0
405,@rofiaziztaufikrahmat,first,0
406,@apre-t5p,pertama pakkk,0

### Penghapusan tanda baca

In [16]:
import string
def hapus_tanda_baca(teks):
    return ''.join(karakter for karakter in teks if karakter not in string.punctuation)
df["Comment"] = df["Comment"].apply(hapus_tanda_baca)

In [17]:
df

,Username,Comment,Like
0,@hendratmobudihardjo4405,gak papa pak biar saingan kita sebagai program...,0
1,@tigaherangchannel,dari sekian banyak ai sejauh ini gw baru pake ...,0
2,@noertri618,garagara ai harga komponenkomponen pc naik gil...,0
3,@kuliahkentang2146,kalo pas skripsi belom bisa coding mau beli pr...,0
4,@nengmoemoen,saya punya pengalaman d kantor sayaadassorang ...,0
...,...,...,...
402,@muhammad.azqilana,ini yg aku tunggu terimakasih pak pengajaran d...,1
403,@parthawijaya482,ijin menambahkan pak sandhika vibe coder itu p...,0
404,@sandhikagalihwpu,nice share yang jago makin jago yang ngecit ma...,0
405,@rofiaziztaufikrahmat,first,0
406,@apre-t5p,pertama pakkk,0

### Penghapusan karakter khusus / html

In [18]:
from bs4 import BeautifulSoup
import re
def remove_html(teks):
    soup = BeautifulSoup(teks, "html.parser")
    return soup.get_text()
df["Comment"] = df["Comment"].apply(remove_html)

In [19]:
df

,Username,Comment,Like
0,@hendratmobudihardjo4405,gak papa pak biar saingan kita sebagai program...,0
1,@tigaherangchannel,dari sekian banyak ai sejauh ini gw baru pake ...,0
2,@noertri618,garagara ai harga komponenkomponen pc naik gil...,0
3,@kuliahkentang2146,kalo pas skripsi belom bisa coding mau beli pr...,0
4,@nengmoemoen,saya punya pengalaman d kantor sayaadassorang ...,0
...,...,...,...
402,@muhammad.azqilana,ini yg aku tunggu terimakasih pak pengajaran d...,1
403,@parthawijaya482,ijin menambahkan pak sandhika vibe coder itu p...,0
404,@sandhikagalihwpu,nice share yang jago makin jago yang ngecit ma...,0
405,@rofiaziztaufikrahmat,first,0
406,@apre-t5p,pertama pakkk,0

### penghapusan karakter khusus ! # @ dll

In [20]:
df["Comment"] = df["Comment"].str.replace(r'[^a-zA-Z0-9\s]', '', regex=True)
df["Username"] = df["Username"].str.replace(r'[^a-zA-Z0-9\s]', '', regex=True)

In [21]:
df

,Username,Comment,Like
0,hendratmobudihardjo4405,gak papa pak biar saingan kita sebagai program...,0
1,tigaherangchannel,dari sekian banyak ai sejauh ini gw baru pake ...,0
2,noertri618,garagara ai harga komponenkomponen pc naik gil...,0
3,kuliahkentang2146,kalo pas skripsi belom bisa coding mau beli pr...,0
4,nengmoemoen,saya punya pengalaman d kantor sayaadassorang ...,0
...,...,...,...
402,muhammadazqilana,ini yg aku tunggu terimakasih pak pengajaran d...,1
403,parthawijaya482,ijin menambahkan pak sandhika vibe coder itu p...,0
404,sandhikagalihwpu,nice share yang jago makin jago yang ngecit ma...,0
405,rofiaziztaufikrahmat,first,0
406,apret5p,pertama pakkk,0

### menangani whitespace

In [22]:
df["Comment"] = df["Comment"].str.replace(r'\s+', ' ', regex=True).str.strip()

In [23]:
df

,Username,Comment,Like
0,hendratmobudihardjo4405,gak papa pak biar saingan kita sebagai program...,0
1,tigaherangchannel,dari sekian banyak ai sejauh ini gw baru pake ...,0
2,noertri618,garagara ai harga komponenkomponen pc naik gil...,0
3,kuliahkentang2146,kalo pas skripsi belom bisa coding mau beli pr...,0
4,nengmoemoen,saya punya pengalaman d kantor sayaadassorang ...,0
...,...,...,...
402,muhammadazqilana,ini yg aku tunggu terimakasih pak pengajaran d...,1
403,parthawijaya482,ijin menambahkan pak sandhika vibe coder itu p...,0
404,sandhikagalihwpu,nice share yang jago makin jago yang ngecit ma...,0
405,rofiaziztaufikrahmat,first,0
406,apret5p,pertama pakkk,0

## Normalisasi

### Tokenization

In [24]:
from nltk.tokenize import word_tokenize
df["Comment"] = df["Comment"].apply(word_tokenize)

In [25]:
df

,Username,Comment,Like
0,hendratmobudihardjo4405,"[gak, papa, pak, biar, saingan, kita, sebagai,...",0
1,tigaherangchannel,"[dari, sekian, banyak, ai, sejauh, ini, gw, ba...",0
2,noertri618,"[garagara, ai, harga, komponenkomponen, pc, na...",0
3,kuliahkentang2146,"[kalo, pas, skripsi, belom, bisa, coding, mau,...",0
4,nengmoemoen,"[saya, punya, pengalaman, d, kantor, sayaadass...",0
...,...,...,...
402,muhammadazqilana,"[ini, yg, aku, tunggu, terimakasih, pak, penga...",1
403,parthawijaya482,"[ijin, menambahkan, pak, sandhika, vibe, coder...",0
404,sandhikagalihwpu,"[nice, share, yang, jago, makin, jago, yang, n...",0
405,rofiaziztaufikrahmat,[first],0
406,apret5p,"[pertama, pakkk]",0

### Normalisasi kata

In [26]:
# URL file kamus slang
url_slang = 'https://raw.githubusercontent.com/nasalsabila/kamus-alay/master/colloquial-indonesian-lexicon.csv'

df_slang = pd.read_csv(url_slang)
print(df_slang.head())
# change to dictionery
slang_dict = dict(zip(df_slang['slang'], df_slang['formal']))

     slang    formal  In-dictionary  \
0     woww       wow              1
1    aminn      amin              1
2      met   selamat              1
3   netaas   menetas              1
4  keberpa  keberapa              0

                                             context  category1 category2  \
0                                                wow   elongasi         0
1  Selamat ulang tahun kakak tulus semoga panjang...   elongasi         0
2  Met hari netaas kak!? Wish you all the best @t...  abreviasi         0
3  Met hari netaas kak!? Wish you all the best @t...   afiksasi  elongasi
4                           Birthday yg keberpa kak?  abreviasi         0

  category3
0         0
1         0
2         0
3         0
4         0

In [27]:
def normalisasi_slang(teks):
    normalisasi_token = []
    for word in teks:
        normalisasi_token.append(slang_dict.get(word, word))
    return normalisasi_token

In [28]:
df["Comment"] = df["Comment"].apply(normalisasi_slang)

In [29]:
df

,Username,Comment,Like
0,hendratmobudihardjo4405,"[enggak, papa, pak, biar, saingan, kita, sebag...",0
1,tigaherangchannel,"[dari, sekian, banyak, ai, sejauh, ini, gue, b...",0
2,noertri618,"[garagara, ai, harga, komponenkomponen, pc, na...",0
3,kuliahkentang2146,"[kalo, pas, skripsi, belum, bisa, coding, mau,...",0
4,nengmoemoen,"[saya, punya, pengalaman, di, kantor, sayaadas...",0
...,...,...,...
402,muhammadazqilana,"[ini, yang, aku, tunggu, terimakasih, pak, pen...",1
403,parthawijaya482,"[ijin, menambahkan, pak, sandhika, vibe, coder...",0
404,sandhikagalihwpu,"[nice, share, yang, jago, makin, jago, yang, n...",0
405,rofiaziztaufikrahmat,[first],0
406,apret5p,"[pertama, pakkk]",0

### penghapusan Stopword

In [30]:
from Sastrawi.StopWordRemover.StopWordRemoverFactory import StopWordRemoverFactory

factory = StopWordRemoverFactory()
stop_word_id = factory.get_stop_words()

def remove_stopword(teks):
    filter_tokens = [word for word in teks if word not in stop_word_id]
    return filter_tokens

In [31]:
df["Comment"] = df["Comment"].apply(remove_stopword)

In [32]:
df

,Username,Comment,Like
0,hendratmobudihardjo4405,"[enggak, papa, pak, biar, saingan, programmer,...",0
1,tigaherangchannel,"[sekian, banyak, ai, sejauh, gue, baru, pakai,...",0
2,noertri618,"[garagara, ai, harga, komponenkomponen, pc, na...",0
3,kuliahkentang2146,"[kalo, pas, skripsi, coding, mau, beli, progra...",0
4,nengmoemoen,"[punya, pengalaman, kantor, sayaadassorang, ju...",0
...,...,...,...
402,muhammadazqilana,"[aku, tunggu, terimakasih, pak, pengajaran, sa...",1
403,parthawijaya482,"[ijin, menambahkan, pak, sandhika, vibe, coder...",0
404,sandhikagalihwpu,"[nice, share, jago, makin, jago, ngecit, makin...",0
405,rofiaziztaufikrahmat,[first],0
406,apret5p,"[pertama, pakkk]",0

### Stemming

In [36]:
import pandas as pd
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory

factory = StemmerFactory()
stemmer_id = factory.create_stemmer()

def sastrawi_stemming_kata(kata_tunggal):
    return stemmer_id.stem(kata_tunggal)

def proses_stemming_per_komentar(list_kata_komentar):
    if isinstance(list_kata_komentar, list):
        komentar_stemmed = [sastrawi_stemming_kata(kata) for kata in list_kata_komentar]
        return komentar_stemmed
    else:
        return sastrawi_stemming_kata(str(list_kata_komentar))
df["Comment"] = df["Comment"].apply(proses_stemming_per_komentar)

In [37]:
df

,Username,Comment,Like
0,hendratmobudihardjo4405,"[enggak, papa, pak, biar, saing, programmer, m...",0
1,tigaherangchannel,"[sekian, banyak, ai, jauh, gue, baru, pakai, c...",0
2,noertri618,"[garagara, ai, harga, komponenkomponen, pc, na...",0
3,kuliahkentang2146,"[kalo, pas, skripsi, coding, mau, beli, progra...",0
4,nengmoemoen,"[punya, alam, kantor, sayaadassorang, junior, ...",0
...,...,...,...
402,muhammadazqilana,"[aku, tunggu, terimakasih, pak, ajar, saran, nya]",1
403,parthawijaya482,"[ijin, tambah, pak, sandhika, vibe, coder, kem...",0
404,sandhikagalihwpu,"[nice, share, jago, makin, jago, ngecit, makin...",0
405,rofiaziztaufikrahmat,[first],0
406,apret5p,"[pertama, pakkk]",0

## Save Data

In [38]:
df.to_csv("data_after_premodelling.csv", index = False)
df.to_excel("data_after_premodelling.xlsx", index = False)